@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@400;500;600;700;800&display=swap');/* Estilos personalizados */

.container {
    max-width: 800px;
    margin: 0 auto;
        }

.card {
    border: none;
    }

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    }

.btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
    }

.table {
    margin-top: 1rem;
    }

.table th,
.table td {
    vertical-align: middle;
    }

.text-warning:hover,
.text-warning:focus {
    color: #ffc107;
    }

.text-danger:hover,
.text-danger:focus {
    color: #dc3545;
    } 
